Source: calibre-utils
Section: net
Priority: extra
Maintainer: Paolo Bernardi <villa.lobos@tiscali.it>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://paolobernardi.wordpress.com

Package: calibre-utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, imagemagick, python, zenity, zip
Description: A set of tools to popupate Calibre's database of books
 So far it contains two tools: webpage2calibre, to put generic web pages into
 Calibre as EPUB ebooks and wikipedia2calibre, optimized to do the same thing
 with Wikipedia's voices.
